@mixin font-face($font-family, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    src: $font-src;
    font-display: swap;
  }
}

@mixin font($font-size, $line-height) {
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
}

@mixin heading-2($line-height: $size-huge, $color: $color-main) {
  color: $color;
  font-family: $font-second;
  font-size: $size-big-3;
  font-weight: 400;
  line-height: $line-height;
}

@mixin heading-3($line-height: $size-big-3) {
  color: $color-main;
  font-family: $font-second;
  font-size: $size-medium-2;
  font-weight: 400;
  line-height: $line-height;
}

@mixin heading-4($line-height: $size-medium) {
  font-family: $font-second;
  font-size: $size-basic-2;
  font-weight: 400;
  line-height: $line-height;
}

@mixin text-basic($line-height: $size-basic-3) {
  font-size: $size-basic;
  font-weight: 400;
  line-height: $line-height;
}

@mixin text-small($line-height: $size-basic-2) {
  font-size: $size-small;
  font-weight: 400;
  line-height: $line-height;
}
