@mixin font-face($font-family, $font-src, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: $font-src;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@mixin font($font-size, $line-height, $color: $color-basic, $font-family: $font-basic, $font-weight: 400) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  margin-top: 0;
  margin-bottom: 0;
}

@mixin font-min($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin pseudo-element($width, $height, $background-color: transparent) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  background-color: $background-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;
}

@mixin mask($background-color: $color-special-medium-3) {
  background-color: $background-color;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

@mixin main-accent($color1-percent, $color2-percent, $image-url, $direction: to left) {
  background: linear-gradient($direction, rgba($color-accent, 0.85) $color1-percent, $color-light $color2-percent), url("../../images/" + $image-url) no-repeat top;
  background-color: $color-basic;
  background-size: contain;
}

@mixin banner-accent($image-name) {
  background-image: linear-gradient(rgba($color-accent, 0.85), rgba($color-accent, 0.85)), url("../../images/"+ $image-name);
}
