@mixin font-face($font-family, $font-src, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: $font-src;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@mixin font($font-size, $line-height, $color: $color-basic, $font-family: $font-basic, $font-weight: 400) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  margin-top: 0;
  margin-bottom: 0;
}

@mixin font-min($font-size, $line-height: 1) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin background($background-size: contain) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: $background-size;
}

@mixin pseudo-element($width, $height, $background-color: transparent) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  background-color: $background-color;
  flex-shrink: 0;
}

@mixin mask($image-name: "logo", $background-color: $color-special-medium-3) {
  mask: url("../../icons/stack.svg#" + $image-name) no-repeat center;
  mask-size: contain;
  background-color: $background-color;
}

@mixin banner-gradient($image-name) {
  background-image: linear-gradient(rgba($color-accent, 0.85), rgba($color-accent, 0.85)), image-set(url("../../images/" + $image-name + "@1x.wepb") type("image/wepb") 1x, url("../../images/" + $image-name + "@2x.wepb") type("image/wepb") 2x, url("../../images/" + $image-name + "@1x.jpg") type("image/jpg") 1x, url("../../images/" + $image-name + "@2x.jpg") type("image/jpg") 2x);
}

@mixin accent-gradient($color1-percent, $color2-percent, $image-name, $direction: to left) {
  background: linear-gradient($direction, rgba($color-accent, 0.85) $color1-percent, $color-light $color2-percent), image-set(url("../../images/" + $image-name + "@1x.wepb") type("image/wepb") 1x, url("../../images/" + $image-name + "@2x.wepb") type("image/wepb") 2x, url("../../images/" + $image-name + "@1x.jpg") type("image/jpg") 1x, url("../../images/" + $image-name + "@2x.jpg") type("image/jpg") 2x) no-repeat top;
  background-color: $color-basic;
  background-size: contain;
}

@mixin heading-lines {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    width: 50vw;
    height: 2px;
    transform: translateY(-50%);
    background-color: $color-accent;
    box-shadow: -50vw 0 $color-accent, 50vw 0 $color-accent;
    z-index: -1;
  }
}
