/* colors */
$color-basic: #444444;
$color-main: #000000;
$color-light: #ffffff;
$color-accent: #68b738;
$color-accent-2: #5eaa2f;
$color-error: #ff8282;
$color-special-light: #f2f2f2;
$color-special-light-2: #eaeaea;
$color-special-light-3: #ebebeb;
$color-special-medium: #d3d3d3;
$color-special-medium-2: #c4c4c4;
$color-special-medium-3: #666666;
$color-special-dark: #222222;
$color-special-dark-2: #111111;
$color-border-light: #e6e6e6;
$color-border-light-2: #e7e7e7;
$color-border-medium: #d9d9d9;
$color-border-medium-2: #cdcdcd;

/* fonts */
$font-basic: "Lato", "Arial", sans-serif;
$font-second: "Oswald", "Arial", sans-serif;

/* font-sizes */
$size-small: 12px;
$size-basic: 14px;
$size-basic-2: 16px;
$size-basic-3: 18px;
$size-medium: 20px;
$size-medium-2: 24px;
$size-big: 30px;
$size-big-2: 32px;
$size-big-3: 36px;
$size-huge: 40px;
$size-huge-2: 60px;

/* display */
$tablet: 768px;
$desktop: 1440px;
