.additional {
  padding-top: 25px;

  @media (min-width: $tablet) {
    padding-top: 74px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 0 77px;
    padding-top: 70px;
  }
}

.additional__title {
  @include font($size-medium-2, 1, $color-main, $font-second);
  @include heading-lines;
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    @include font-min($size-big-2);
    margin-bottom: 80px;
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    @include font-min($size-huge);
    grid-column: 1/-1;
    padding: 0;
  }
}

.additional__list {
  @include list;
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}
