.additional-card {
  padding: 13px 0 18px;
  border-bottom: 1px solid $color-border-medium-2;

  &:first-of-type {
    border-top: 1px solid $color-border-medium-2;
  }

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 25px;
    padding: 25px 38px 28px;
  }

  @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    border-left: 1px solid $color-border-medium-2;
    border-right: 1px solid $color-border-medium-2;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 244px;
    gap: 40px;
    padding: 15px 4px 16px 0;
  }
}

.additional-card__title {
  @include font($size-basic-2, 1, $color-special-dark, $font-second);
  margin-bottom: 13px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include font-min($size-medium);
    margin-bottom: 0;
  }
}

.additional-card__info {
  display: flex;
  gap: 20px;
  margin: 0;
  margin-bottom: 15px;
  line-height: $size-basic;

  @media (min-width: $tablet) {
    justify-content: end;
    margin-bottom: 0;
    line-height: $size-medium;
  }
}

.additional-card__size {
  max-width: 70%;
}

.additional-card__price {
  max-width: 30%;
  margin-left: auto;

  @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    margin-left: 30px;
  }
}

.additional-card__link {
  @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    grid-column: 1/-1;
  }
}
