.additional-card {
  padding: 13px 0 17px;
  border-bottom: 1px solid $color-border-medium-2;

  &:first-of-type {
    border-top: 1px solid $color-border-medium-2;
  }

  @media (min-width: $tablet) {
    padding: 25px 38px 28px;
    border-left: 1px solid $color-border-medium-2;
    border-right: 1px solid $color-border-medium-2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 25px;
  }

  @media (min-width: $desktop) {
    padding: 15px 4px 16px 0;
    border-left: none;
    border-right: none;
    grid-template-columns: 1fr 1fr 244px;
    gap: 40px;
  }
}

.additional-card__title {
  @include font($size-basic-2, 1, $color-special-dark, $font-second);
  text-transform: uppercase;
  margin-bottom: 13px;

  @media (min-width: $tablet) {
    @include font-min($size-medium);
    margin-bottom: 0;
  }
}

.additional-card__price {
  line-height: $size-basic;
  margin: 0;
  margin-bottom: 15px;
  display: flex;

  @media (min-width: $tablet) {
    line-height: $size-medium;
    margin-bottom: 0;
    justify-content: end;
  }
}

.additional-card__price-number {
  text-wrap: nowrap;
  margin-left: auto;

  @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    margin-left: 50px;
  }
}

.additional-card__link {
  @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    grid-column: 1/-1;
  }
}
