.additional-card__title {
  @include font($size-basic-2, $size-basic-2, $color-special-dark, $font-second);
  text-transform: uppercase;

  @media (min-width: 768px) {
    @include font-min($size-medium, $size-medium);
  }
}

.additional-card__price {
  line-height: $size-basic;

  @media (min-width: 768px) {
    line-height: $size-medium;
  }
}
