.advantages {
  padding: 20px 0 49px;

  @media (min-width: 768px) and (max-width: 1439px) {
    margin-bottom: 45px;
    padding: 45px 0 47px;
    border-bottom: 1px solid $color-border-light;
  }

  @media (min-width: 1440px) {
    padding: 71px 0 69px;
  }
}

.advantages__title {
  @include font($size-big-3, $size-huge, $color-main, $font-second);
  margin-bottom: 40px;

  @media (min-width: 768px) {
    @include font-min($size-huge-2, $size-huge-2);
    margin-bottom: 32px;
  }
}

.advantages__list {
  @include list;
  display: grid;
  gap: 20px;

  @media (min-width: 768px) {
    gap: 37px;
  }

  @media (min-width: 1440px) {
    gap: 44px 94px;
  }
}
