.button {
  @include font($size-basic-2, 1.25, $color-basic, $font-second);
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-special-light;
  border: none;
  cursor: pointer;

  &[disabled] {
    opacity: 0.3;
    cursor: default;
  }

  &:not([disabled]):is(:hover, :active) {
    background-color: $color-special-light-3;
  }

  &--medium {
    @include font-min($size-medium, 1.3);
    padding: 14px 26px;
  }

  &--accent {
    color: $color-light;
    background-color: $color-accent;

    &:not([disabled]):is(:hover, :active) {
      background-color: $color-accent-2;
    }

    &:active {
      color: rgba($color-light, 0.3);
    }
  }
}
