.card {
  @media (max-width: ($tablet - 1px)) {
    border-bottom: 1px solid $color-border-light-2;
  }

  @media (min-width: $tablet) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media (min-width: 1200px) {
    flex-basis: calc((100% - (60px * 2)) / 3);
  }

  @media (min-width: $desktop) {
    flex-basis: calc((100% - (80px * 3)) / 4);
  }
}

.card__wrapper {
  padding: 20px 20px 26px;
  margin: 0 auto;
  max-width: 350px;

  @media (max-width: ($tablet - 1px)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet) {
    text-align: center;
    padding: 10px 37px 41px;
    background-image: linear-gradient(to bottom, transparent 81px, $color-special-light 81px);
  }
}

.card__link:has(.card__image) {
  grid-row: 1/3;

  @media (min-width: $tablet) {
    margin-bottom: 16px;
    display: block;
  }

  @media (min-width: $desktop) {
    margin-bottom: 5px;
  }
}


.card__title {
  @include font($size-basic-2, 1.25, $color-special-dark, $font-second);
  text-transform: uppercase;
  margin-bottom: 14px;
  padding-right: 40%;

  @media (min-width: $tablet) {
    @include font-min($size-medium, 1.2);
    margin-bottom: 15px;
    padding: 0 22%;
  }

  @media (min-width: $desktop) {
    margin-bottom: 20px;
    padding: 0 10%;
  }
}

.card__info {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 38px;
  }
}

.card__info-item {
  @include font($size-small, 1.33);
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    @include font-min($size-basic-2, 1.25);
    padding: 5px 0;
    border-bottom: 1px solid $color-border-light-2;
  }
}

.card__info-description {
  margin-left: 10px;
}

.card__button {
  grid-column: 1/-1;
}
