.card {
  padding: 20px 0 26px;
  flex-basis: 230px;
  flex-grow: 1;

  @media (max-width: ($tablet - 1px)) {
    border-bottom: 1px solid $color-border-light-2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet) {
    padding: 10px 37px 41px;
    background-image: linear-gradient(to bottom, transparent 81px, $color-special-light 81px);
    flex-basis: 260px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    padding: 10px 37px 41px;
    flex-basis: 245px;
  }
}

.card__link:has(.card__image) {
  grid-row: 1/3;
}

.card__image {
  @media (min-width: $tablet) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 3px;
  }
}

.card__title {
  @include font($size-basic-2, $size-medium, $color-special-dark, $font-second);
  text-transform: uppercase;
  margin-bottom: 14px;
  padding-right: 40%;

  @media (min-width: $tablet) {
    @include font-min($size-medium, $size-medium-2);
    margin-bottom: 15px;
    padding: 0 20%;
  }

  @media (min-width: $desktop) {
    margin-bottom: 20px;
    padding: 0 5%;
  }
}

.card__info {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 38px;
  }
}

.card__info-item {
  @include font($size-small, $size-basic-2);
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    @include font-min($size-basic-2, $size-medium);
    padding: 5px 0;
    border-bottom: 1px solid $color-border-light-2;
  }
}

.card__button {
  grid-column: 1/-1;
}
