.catalog {
  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  @media (min-width: $desktop) {
    gap: 63px 80px;
  }
}
