.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 40px;

  @media (min-width: $tablet) {
    gap: 60px;
  }

  @media (min-width: $desktop) {
    gap: 63px 80px;
  }
}
