.container {
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 30px;

    &--md {
      padding: 0 70px;
    }
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
  }
}
