.contacts {
  background-color: #ffffff;
}


.contacts__wrapper {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.contacts__text {
  @include font($size-basic-2, $size-medium, $color-special-dark-2, $font-second);
  text-transform: uppercase;
  width: 50%;

  @media (min-width: $tablet) {
    @include font-min($size-medium, $size-medium-3);
    padding: 0 80px 0 40px;
  }
}

.contacts__description {
  @include font($size-basic, $size-medium);
  font-style: normal;
  width: 50%;

  @media (min-width: $tablet) {
    @include font-min($size-basic-2, $size-medium);
    text-align: end;
    padding: 0 40px 0 125px;
  }
}

.contacts__town {
  @media (min-width: $tablet) {
    margin-top: 19px;
    display: block;
  }
}

.contacts__image {
  display: block;
  width: 100%;
}
