.container {
  padding: 0 20px;

  @media (max-width: ($tablet - 1px)) {
    &--md {
      padding: 0;
    }
  }

  @media (min-width: $tablet) {
    padding: 0 30px;

    &--narrow {
      padding: 0 70px;
    }
  }

  @media (max-width: ($desktop - 1px)) {
    &--lg {
      padding: 0;
    }
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
  }
}
