.form__container {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0 56px;
  }

  @media (min-width: $desktop) {
    gap: 0 80px;
  }
}

.form__wrapper {
  margin-bottom: 25px;
  border: none;

  .form__title {
    margin-bottom: 35px;
  }

  &:has(+ .form__button) {
    margin-bottom: 32px;
  }

  &--info {
    padding: 0 20px;
  }

  &--program {
    border-top: 1px solid $color-border-medium;
    border-bottom: 1px solid $color-border-medium;
    padding: 19px 20px;
  }

  &--comment .form__field--textarea {
    height: 150px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 64px;
    grid-column: 1 / -1;

    &:has(+ .form__button) {
      margin-bottom: 50px;
    }

    &--info {
      margin-bottom: 74px;
      padding: 0 70px;
    }

    &--program {
      border: 1px solid $color-border-light-2;
      padding: 23px 27px 27px;
      margin-left: 70px;
      margin-right: 70px;
    }

    &--contacts .form__title {
      margin-bottom: 76px;
    }

    &--comment .form__title {
      margin-bottom: 88px;
    }

    &--comment .form__field--textarea {
      height: 175px;
    }

    &--additional {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px 59px;
    }

    &--additional .form__title {
      margin-bottom: 57px;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 73px;

    &:has(+ .form__button) {
      margin-bottom: 57px;
    }

    &--info {
      grid-column: 1 / 2;
      padding: 0;
    }

    &--program {
      padding: 25px 28px;
      margin-left: 0;
      margin-right: 0;
      grid-column: 2 / -1;
    }

    &--contacts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 80px;
    }

    &--comment .form__title {
      margin-bottom: 70px;
    }

    &--additional {
      grid-template-columns: repeat(4, 1fr);
      gap: 32px 82px;
    }
  }
}

.form__title {
  @include font($size-medium-2, 1.1, $color-main, $font-second);
  @include heading-lines;
  padding: 0;
  display: block;

  @media (min-width: $tablet) {
    @include font-min($size-big-3, 1);

    br {
      display: none;
    }
  }
}

.form__title-text {
  background-color: $color-light;
  box-shadow: -40px 0 $color-light, 40px 0 $color-light;
  display: inline-block;
}

.form__label {
  @include font($size-basic-2, 1.13, $color-basic, $font-second);
  text-wrap: nowrap;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  &--icon {
    position: relative;

    &::after {
      @include pseudo-element(20px, 20px);
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
    }

    @media (min-width: $desktop) {
      &::after {
        right: 16px;
      }
    }
  }

  &--email::after {
    @include mask("email", $color-special-dark);
    cursor: text;
  }

  &--phone::after {
    @include mask("phone", $color-special-dark);
    cursor: text;
  }

  @media (min-width: $tablet) {
    @include font-min($size-medium, 1.5);
    gap: 17px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &--icon:has(input:focus)::after {
    background-color: $color-accent;
  }

  &--icon:has(input:user-invalid, input:user-invalid:is(:hover, :focus-visible, :focus))::after {
    background-color: $color-error;
  }
}


@media (min-width: $tablet) {
  .form__wrapper--program .form__label:not(:last-child) {
    margin-bottom: 13px;
  }

  .form__wrapper--additional .form__label {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop) {
  .form__wrapper--contacts .form__label {
    margin-bottom: 0;
  }
}

.form__field {
  @include font($size-medium, 1.5, $color-basic, $font-second);
  text-transform: uppercase;
  padding: 12px;
  border: 1px solid $color-border-light-2;
  display: block;
  width: 100%;
  appearance: textfield;

  &:hover {
    border-color: $color-border-medium-2;
  }

  &:is(:focus-visible, :focus, :active) {
    border-color: $color-basic;
    box-shadow: 0 0 0 1px $color-basic;
  }

  &:user-invalid,
  &:user-invalid:is(:hover, :focus-visible, :focus) {
    border-color: $color-error;
    box-shadow: 0 0 0 1px $color-error;
  }

  &--small {
    @include font-min($size-basic-2, 1.13);
    padding: 13px 13px 12px;

    @media (min-width: $tablet) {
      @include font-min($size-medium, 1.5);
      padding: 10px 18px;
    }
  }
}

.form__label--icon .form__field {
  padding-right: 40px;
}

.form__field-button {
  width: 100%;

  @media (min-width: $tablet) {
    width: 65%;
  }

  @media (min-width: $desktop) {
    width: 50%;
  }
}

.form__control {
  border: 1px solid $color-border-medium-2;
  background-color: $color-light;
  display: block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  position: relative;
  order: -1;

  &::after {
    @include pseudo-element(18px, 14px, $color-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &--checkbox::after {
    @include background;
    background-image: url("../../icons/stack.svg#check");
  }

  &--radio {
    border-radius: 50%;

    &::after {
      border-radius: 50%;
      background-color: $color-accent;
      width: 13px;
      height: 13px;
    }
  }

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;

    &--checkbox::after {
      width: 24px;
      height: 20px;
    }

    &--radio::after {
      width: 17px;
      height: 17px;
    }
  }
}

.form__label:has(input[disabled]) {
  opacity: 0.3;
}

.form__label input:not([disabled]):is(:focus-visible, :focus) + .form__control::after {
  opacity: 0.6;
}

.form__label:hover input:not([disabled]) + .form__control::after,
.form__label input:checked + .form__control::after {
  opacity: 1;
}

.form__button {
  width: 100%;

  @media (max-width: ($tablet - 1px)) {
    &:has(+ .form__description) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $tablet) {
    @include font-min($size-medium, 1.3);
    padding: 16px;
  }
}

.form__description {
  @include font($size-basic, 1.14, $color-main, $font-basic);
  text-align: center;
  display: block;

  @media (min-width: $tablet) {
    @include font-min($size-basic-2, 1);
    text-align: start;
  }
}
