.logo {
  display: flex;
  align-items: center;

  &[disabled] {
    opacity: 0.3;
    cursor: default;
  }

  &:not([disabled]):is(:hover, :focus-visible, :focus) {
    opacity: 0.8;
  }

  &:not([disabled]):active {
    opacity: 0.6;
  }

  @media (max-width: ($tablet - 1px)) {
    flex-grow: 1;

    .logo__image-text {
      margin: 0 auto;
    }
  }
}

.logo__image {
  display: block;

  @media (min-width: $tablet) {
    margin-right: 13px;
  }
}
