.logo {
  display: flex;
  align-items: center;

  &:is(:hover, :focus-visible, :focus) {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: 767px) {
    flex-grow: 1;

    .logo__image {
      margin-right: 13px;
    }

    .logo__image-text {
      margin: 0 auto;
    }
  }
}

.logo__image {
  display: block;
}
