.main-header {
  display: flex;
}

.main-header__toggle {
  background: transparent url("../../icons/menu.svg") no-repeat center;
  border: none;
  margin: 0;
  padding: 12px;
  cursor: pointer;

  &:is(:hover, :focus-visible, :focus) {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
