.main-footer {
  background-color: $color-special-light;
}

.main-footer__wrapper {
  padding-top: 41px;
  padding-bottom: 41px;

  @media (max-width: ($tablet - 1px)) {
    & > *:not(:last-child) {
      margin-bottom: 21px;
      padding-bottom: 18px;
      border-bottom: 1px solid $color-border-medium;
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.main-footer__image-text {
  @media (min-width: $tablet) {
    margin-right: 34px;
  }
}

.main-footer__social {
  @media (min-width: $tablet) {
    max-width: 132px;
  }
}

.main-footer__author {
  @media (min-width: $tablet) {
    max-width: 168px;
  }
}
