.page__body--catalog .main-page {
  padding-top: 27px;

  @media (min-width: $tablet) {
    padding-top: 50px;
  }

  @media (min-width: $desktop) {
    padding-top: 62px;
  }
}

.main-page__title {
  @include font($size-big-3, $size-big-3, $color-main, $font-second);

  @media (max-width: ($tablet - 1px)) {
    padding-bottom: 42px;
    border-bottom: 1px solid $color-border-light-2;
  }

  @media (min-width: $tablet) {
    @include font-min($size-huge-2, $size-huge-2);
    margin-bottom: 84px;
  }
}
