.main-header {
  display: flex;
  position: relative;
  padding: 13px 0 15px;
  border-bottom: 1px solid $color-border-light;

  @media (min-width: $tablet) {
    padding: 25px 0 0;
    border-bottom: none;
  }

  @media (min-width: $desktop) {
    padding-top: 55px;
  }
}

.main-header__toggle {
  background: transparent url("../../icons/stack.svg#menu") no-repeat center;
  background-size: 24px;
  border: none;
  margin: 0;
  padding: 12px;
  cursor: pointer;

  &:is(:hover, :focus-visible, :focus) {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav.show + .main-header__toggle {
  background-image: url("../../icons/stack.svg#cross");
  background-size: 18px;
}
