.more {
  text-align: center;
  margin-top: auto;
  padding: 21px 0 23px;
  border-bottom: 1px solid $color-border-light-2;
  flex-basis: 230px;
  flex-grow: 1;

  &::before {
    @include pseudo-element(30px, 30px);
    @include background;
    background-image: url("../../icons/stack.svg#plus");
    margin: 0 auto 25px;

    @media (min-width: $tablet) {
      margin-bottom: 48px;
      width: 60px;
      height: 60px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $tablet) {
    padding: 52px 37px 40px;
    border-bottom: 0;
    box-shadow: 0 0 0 1px $color-special-light;
    flex-basis: 260px;
  }

  @media (min-width: $desktop) {
    flex-basis: 245px;
  }
}

.more__text {
  @include font($size-basic-2, $size-medium, $color-special-dark-2, $font-second);
  text-transform: uppercase;
  margin-bottom: 8px;

  @media (min-width: $tablet) {
    @include font-min($size-medium, $size-medium-2);
    margin-bottom: 23px;
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 26px;
    padding: 0;
  }
}

.more__description {
  @include font($size-small, $size-basic-2);
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    @include font-min($size-basic-2, $size-basic-3);
    margin-bottom: 82px;
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 90px;
    padding: 0;
  }
}
