.newsletter {
  padding-top: 40px;
  padding-bottom: 10px;

  @media (min-width: $tablet) {
    padding-top: 80px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop) {
    padding-top: 93px;
    padding-bottom: 26px;
  }
}

.newsletter__title {
  @include font($size-medium-2, 1, $color-main, $font-second);
  @include heading-lines;
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    @include font-min($size-big-2);
    margin-bottom: 66px;
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    @include font-min($size-huge);
    margin-bottom: 72px;
    padding: 0;
  }
}

.newsletter__text {
  @include font($size-basic-2, 1.5, $color-main, $font-second);
  margin-bottom: 24px;
  text-align: center;

  @media (min-width: $tablet) {
    @include font-min($size-medium-2, 1.33);
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.newsletter__form {
  @media (min-width: $tablet) {
    display: flex;
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    max-width: 756px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
