.newsletter {
  padding: 40px 0;

  @media (min-width: 768px) {
    padding: 80px 0;
  }

  @media (min-width: 1440px) {
    padding: 96px 0 104px;
  }
}

.newsletter__title {
  @include font($size-medium-2, $size-medium-2, $color-main, $font-second);
  margin-bottom: 32px;

  @media (min-width: 768px) {
    @include font-min($size-big-2, $size-big-2);
    margin-bottom: 66px;
  }

  @media (min-width: 1440px) {
    @include font-min($size-huge, $size-huge);
    margin-bottom: 72px;
  }
}

.newsletter__text {
  @include font($size-basic-2, $size-medium-2, $color-main, $font-second);
  margin-bottom: 24px;

  @media (min-width: 768px) {
    @include font-min($size-medium-2, $size-big-2);
  }
}

.newsletter__form .form__field {
  @media (max-width: 767px) {
    margin-bottom: 16px;
  }
}
