.programs-card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 22px 12px;
  padding: 23px 20px 18px 10px;
  background-color: $color-special-light;

  &::before {
    @include pseudo-element(67px, 50px);
    @include background;

    @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      grid-column: 2/-1;
      grid-row: 1/4;
      width: 268px;
      height: 217px;
    }

    @media (min-width: $desktop) {
      width: 134px;
      height: 100px;
    }
  }

  &--diet::before {
    background-image: url("../../icons/stack.svg#program-diet");
  }

  &--gain::before {
    background-image: url("../../icons/stack.svg#program-gain");
  }

  @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    grid-template-columns: 1fr auto;
    align-items: stretch;
    gap: 24px 19px;
    padding: 80px 28px 50px 53px;
  }

  @media (min-width: $desktop) {
    gap: 23px 44px;
    padding: 43px 61px 55px 35px;
  }
}

.programs-card__title {
  @include font($size-medium-2, 1.5, $color-main, $font-second);
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include font-min($size-big-3);
  }
}

.programs-card__text {
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: ($tablet - 1px)) {
    grid-column: 1 / -1;
    margin-left: 10px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / -1;
    margin: 20px 0 0 17px;
  }
}

.programs-card__link {
  @include font($size-basic-2, 1, $color-main, $font-second);
  display: flex;
  align-items: center;
  padding: 4px 0;
  text-transform: uppercase;

  &::after {
    @include pseudo-element(24px, 12px);
    @include background;
    margin-left: 16px;
    background-image: url("../../icons/stack.svg#arrow");
    transform-origin: left center;
    transition: transform 0.3s linear;

    @media (min-width: $tablet) {
      margin-left: 26px;
    }
  }

  &[disabled] {
    opacity: 0.2;
    cursor: default;
  }

  &:not([disabled]):active {
    color: rgba($color-main, 0.3);
  }

  &:not([disabled]):is(:hover, :active, :focus-visible, :focus)::after {
    transform: scaleX(1.35);
  }

  &:not([disabled]):active::after {
    opacity: 0.3;
  }

  @media (max-width: ($tablet - 1px)) {
    grid-column: 1 / -1;
    margin-left: 10px;
    padding-top: 18px;
    border-top: 1px solid $color-border-medium;
  }

  @media (min-width: $tablet) {
    @include font-min($size-medium, 1.5);
  }

  @media (min-width: $desktop) {
    grid-column: 1 / -1;
    margin-left: 17px;
  }
}
