.promo {
  @include font($size-basic, 1, $color-light, $font-second);
  @include accent-gradient(60%, 60%, "cat-mobile", to bottom);
  padding-top: 27px;
  padding-bottom: 20px;
  text-align: center;
  background-size: contain, auto 60%;

  @media (min-width: $tablet) {
    @include font($size-medium, 1, $color-main, $font-second);
    position: relative;
    padding-top: 50px;
    padding-bottom: 524px;
    text-align: start;
    background-image: none;
    background-color: transparent;
  }

  @media (min-width: $desktop) {
    margin-bottom: 83px;
    padding-top: 110px;
    padding-bottom: 184px;
  }
}

.promo__wrapper {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.promo__title {
  @include font($size-big-3, 1, $color-light, $font-second);
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    @include font($size-huge-2, 1, $color-main, $font-second);
    margin: 0 90px 40px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    margin: 0 80px 40px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin: 0 90px 50px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    margin: 0 80px 52px;
  }
}

.promo__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto 3px;

  @media (min-width: $tablet) {
    position: absolute;
    width: 709px;
    height: 609px;
    margin-bottom: 0;
  }

  @media (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    left: 0;
    right: 0;
    bottom: -2px;
    z-index: -1;
  }

  @media (min-width: $desktop) {
    position: absolute;
    width: 552px;
    height: 499px;
    transform: translate(-30%, -48%);
  }
}

.promo__link {
  @media (min-width: $tablet) {
    @include font-min($size-medium, 1.3);
    max-width: 244px;
    margin-left: 90px;
    padding: 14px 26px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    margin-left: 80px;
  }
}
