.social__list {
  @include list;
  max-width: 132px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px 24px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.social__link {
  &::before {
    @include pseudo-element(28px, 22px);
    @include mask;
  }

  &:active {
    opacity: 0.3;
  }

  &--vkontakte::before {
    mask-image: url("../../icons/stack.svg#logo-vkontakte");
  }

  &--youtube::before {
    mask-image: url("../../icons/stack.svg#logo-youtube");
  }

  &--telegram::before {
    mask-image: url("../../icons/stack.svg#logo-telegram");
  }

  &:is(:hover, :active, :focus-visible, :focus)::before {
    background-color: $color-accent;
  }
}
